.notification {
  width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.7rem;
  box-sizing: border-box;
  margin-top: 10px;
}

.notification--success {
  background-color: #d4edda;
  color: #155724;
}

.notification--error {
  background-color: #f8d7da;
  color: rgb(206, 53, 53);
}

.notification--warning {
  background-color: #fff3cd;
  color: #856404;
}

.notification--info {
  background-color: #d1ecf1;
  color: #0c5460;
}

.notification__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.7rem;
  border-bottom: 2px solid rgb(44, 39, 39);
}

.notification__close button {
  background: none;
  border: none;
  color: inherit;
  font-size: 1.6rem;
  cursor: pointer;
}

.notification__message {
  text-align: center;
  width: 100%;
}

@media (max-width: 480px) {
  .notification {
    box-sizing: border-box;
    width: 100vw;
    padding: 10px;
  }

  .notification__header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .notification__close {
    position: absolute;
    right: 0.5rem;
  }
}
