.toast-container {
    position: fixed;
    top: 10px;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    z-index: 1000;
    max-width: 90vw; 
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: 480px){
      .toast-container{
        left: 0;
        transform: translateX(0);
      }
  }