.login__card {
  font-size: 2rem;
  padding: 4rem;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
}

.login__title {
  text-align: center;
  border-bottom: 1px solid #777;
  padding-bottom: 1.5rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form-group {
  margin: 1.5rem 0;
  width: 100%;
}

.login__label {
  display: block;
  margin-bottom: 1rem;
}

.login__input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1.8rem;
  box-sizing: border-box;
}

.login__button {
  width: 100%;
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #dd60be;
  color: #4e33dd;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
}

.login__checkbox {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.login__checkbox-label {
  font-size: 1.8rem;
}

.login__form-group--checkbox {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  width: 100%;
}

.login__text {
  font-size: 1.8rem;
}

.login__link {
  color: #dd60be;
  text-decoration: none;
}

.login__error {
  color: red;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.login__password-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.login__password-toggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 0.5rem;
}

/*********************************************** Mobile Styles ********************************************/
@media (max-width: 480px) {
  .login__card {
    width: 100vw;
    padding: 2rem;
    font-size: 1.5rem;
  }

  .login__title {
    font-size: 1.5rem;
  }

  .login__input {
    font-size: 1.5rem;
  }

  .login__button {
    font-size: 1.5rem;
  }

  .login__checkbox {
    width: 1.5rem;
    height: 1.5rem;
  }

  .login__checkbox-label {
    font-size: 1.5rem;
  }

  .login__text {
    font-size: 1.5rem;
  }

  .login__password-toggle {
    font-size: 1.5rem;
  }

  .login__error {
    font-size: 1rem;
  }
}
